:root{
        /*primary colors*/
    --color-pink:hsl(322, 100%, 66%);
    --color-light-pink:hsl(321, 100%, 78%);
    --color-light-red:hsl(0, 100%, 63%);
    
    /*netural*/
    --color-very-dark-cyan:hsl(192, 100%, 9%);
    --color-very-pale-blue:hsl(207, 100%, 98%);
    
    /*fonts*/
    --font-poppins:"Poppins", sans-serif;/*700 for headings*/
    --font-open-sans:"Open Sans", sans-serif;/*400 600 700 for body*/
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    
}

/*HEADER */ 
header{
    padding:  7.8rem 6.4rem 8rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 24rem;
}

.header-btn{
    background-color: transparent;
    border: 1px solid var(--color-pink);
    border-radius: 24px;
    padding: .7rem 3rem;
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    font-weight: 500;
    color:var(--color-pink);
    cursor: pointer;
    box-shadow: 0 0 4px var(--color-pink);
    
}